.about{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .image{
        display: flex;
        align-items: center;
        justify-content: center;
       
        img{
            width: 50%;
        }
        img.framed {
            box-shadow:
              -50px -50px 0 -40px #aa6767,
              50px 50px 0 -40px #000000;
          }
    }

    .aboutdesc{
        padding: 10px;
        h1{
            font-family: 'Chonburi', cursive;
        }
        p{
            font-family: 'Dongle', sans-serif;
            font-size: 25px;
            font-weight: 600;
        }
    }

    .btn{
        padding: 10px;
        button{
            border: none;
            border-radius: 10px;
            padding: 20px;
            background-color: #e4c2c2;
            color: 	white;
            
            &:hover{
                background-color: #aa6767;
            }
        }
    }
}