@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Fugaz+One&family=Lilita+One&family=Lobster&family=Open+Sans:wght@300&family=Orelega+One&family=Roboto:wght@100;400&family=Rubik+Glitch&family=Rubik+Mono+One&family=Sansita:wght@700&family=Shrikhand&family=Ultra&display=swap');

#about {
    height: 100vh;
    background-image: url('../media/aboutbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    #content {
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        background-image: url('../media/aboutvid.gif');
        border-bottom: 1px solid white;

        .img {
            width: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 150px;
                height: 100%;
                border-radius: 500px;
            }
        }
    }

    #info {
        padding: 20px;

        .tech {
            padding: 10px;
            background-color: rgba(204, 183, 183, 0.315);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            ul {
                list-style: none;
                display: flex;
                padding: 10px;

                img {
                    width: 100%;
                }
            }
        }

        .area {
            display: flex;
            justify-content: center;
            background-color: rgba(204, 183, 183, 0.315);
            border-radius: 10px;
            margin-top: 5px;
            .png {
                width: 300px;

                img {
                    width: 100%;
                }
            }
        }


        #text {
            .description {
                padding: 20px;
                background-color: rgba(204, 183, 183, 0.315);
                border-radius: 10px;

                h2 {
                    padding: 10px;
                    color: white;
                    font-family: 'Shrikhand', cursive;
                }

                p {
                    text-align: justify;
                    padding: 10px;
                    font-weight: 600;
                    color: white;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                }

                button {
                    margin: 10px;
                    color: #fff;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 16px 40px;
                    border-radius: 500px;
                    display: inline-block;
                    font-weight: 500;
                    transition: all .4s ease-in-out;
                    background-size: 152% 100%;
                    background: #9953d3;
                    border: 2px solid #9953d3;

                    &:hover {
                        background: transparent;
                        border-color: #9953d3;
                        color: #9953d3;
                    }

                }
            }


        }
    }
}