@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Fugaz+One&family=Lilita+One&family=Lobster&family=Open+Sans:wght@300&family=Orelega+One&family=Roboto:wght@100;400&family=Rubik+Glitch&family=Rubik+Mono+One&family=Sansita:wght@700&family=Shrikhand&family=Ultra&display=swap');

.contactbg {
    height: 100vh;
    background-color: rgb(35, 35, 92);
    background-image: url('../media/aboutbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .content {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        h1 {
            color: white;
            font-family: 'Shrikhand', cursive;
            width: 100%;
            text-align: center;

        }

        .contactform {
            padding: 10px;

            form {
                display: flex;
                flex-direction: column;

                input {
                    margin: 10px;
                    padding: 10px;
                    border-radius: 10px;
                }

                textarea {
                    padding: 10px;
                    border-radius: 10px;
                }

                .submit {
                    margin-top: 10px;
                    border-radius: 10px;
                    border: none;
                    transition: all .4s ease-in-out;
                    background-size: 152% 100%;
                    background: #9953d3;
                    border: 2px solid #9953d3;
                    color: white;

                    &:hover {
                        background: transparent;
                        border-color: #9953d3;
                        color: #9953d3;
                    }
                }
            }
        }

        .side {
            img {
                width: 100%;
            }
        }
    }


}