.proj {
        background-color: rgba(0, 0, 0, 0.89);
        padding: 10px;
    .projects {
        .title{
            // background-color: #aa6767;
            height: 30vh;
            display: flex;
            justify-content: center;
            align-items:flex-end;
            margin-bottom: 20px;
            h1{
                font-family: 'Chonburi', cursive;
                color: white;
            }
        }

        .projimg {
        

            img {
                width: 100%;
            }
        }

        .projdesc {
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            text-align: center;

            h1 {
                font-family: 'Chonburi', cursive;
            }
            p{
                font-family: 'Dongle', sans-serif;
                font-size: 25px;
            }
        }

        .rl {
            background-color: #aaaaaa;
        }

        .lt {
            background-color: #e4c2c2;
        }

        .lg {
            background-color: white;
        }

    }

}